.timeline-root {
    margin-top: 2rem;
    
}


.date {
    color: rgb(255, 255, 255);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


@media screen and (max-width: 1000px) {
    .timeline-root {
        padding-bottom: 2rem;
        
    }
}